html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #eee;
  z-index: 999;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header {
  width: auto;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem 0 0 1rem;
}

a {
  color: green;
  outline: none;
  text-decoration: none;
  font-size: 0.8rem;
}

a:hover {
  text-decoration: underline dotted;
}

#search {
  flex: auto;
  margin: 0 1rem 0 0;
  font-size: 1.2rem;
  border: solid 2px hsla(275, 41%, 60%, 0.25);
  border-radius: 0.5rem;
  color: #aaa;
  outline: none;
  margin: 1rem;
  padding: 0 0.5rem;
}

#search:focus {
  border: solid 2px hsla(275, 41%, 60%, 0.5);
  color: #666;
}

::placeholder {
  color: #aaa;
}

.wrap {
  margin: 0 1rem 0 0;
}

.page,
.page-actived {
  font-size: 1rem;
  margin: 0.2rem 0.2rem;
  padding: 0.5rem;
  background-color: #fff;
  border: solid 2px hsla(275, 41%, 60%, 0);
  cursor: pointer;
}

.page-actived {
  box-sizing: border-box;
  color: #A06EC3;
  border-bottom: solid 2px #A06EC3;
  opacity: 0.5;
}

.page:hover,
.page-actived:hover {
  color: #A06EC3;
  border-bottom: solid 2px #A06EC3;
  opacity: 0.5;
}

.tags {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  background-color: hsla(0, 0%, 93%, 0.1);
  border: none;
  border-radius: 0.5rem;
  color: #666;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.entag {
  color: #aaa;
}

.tag:hover>.entag {
  color: #fff;
}

.tag:active>.entag {
  color: #666;
}

.tag:hover {
  background-color: #A06EC3;
  color: #fff;
  opacity: 0.5;
}

.tag:active {
  background-color: #eee;
  color: #666;
  opacity: 0.5;
}

@media screen and (max-width:768px) {


  header {
    flex-direction: column;
  }

  .titles {
    margin: 1rem;
  }

  #search {

    width: 90%;
    margin: 0 1rem;
  }

  .wrap {
    width: 90%;
  }

  .pages {
    display: flex;
    overflow-x: auto;
    flex: none;
  }

  .page {
    flex-shrink: 0;
  }



}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }

  #loading {
    background-color: #222;
    color: #aaa;
  }

  .titles {
    color: #eee;
  }

  a {
    color: hsl(120, 66%, 40%)
  }

  #search {
    border: solid 2px hsla(275, 41%, 60%, 0.25);
    background-color: #333;
    color: #aaa;

  }

  ::placeholder {
    color: #aaa;
  }

  #search:focus {
    border: solid 2px hsla(275, 41%, 60%, 0.25);
    background-color: #222;
    color: #eee;
  }

  .page {
    background-color: #222;
    color: #aaa;
  }

  .page-actived {
    background-color: #222;
    color: #A06EC3;
    opacity: 1;
  }

  .page:hover,
  .page-actived:hover {
    opacity: 1;
  }

  .tag {
    background-color: #221;
    color: #aaa;
  }

  .entag {
    color: #777;
  }

  .tag:hover {
    color: #fff;
    opacity: 1;
  }

  .tag:hover>.entag {
    color: #fff;
    opacity: 1;
  }

}