html,
body {
  overflow: hidden;
  height: 100vh;
  background-color: #a47ac3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a47ac3;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  -webkit-app-region: drag;
  position: fixed;
  background-color: #a47ac3;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  width: env(titlebar-area-width, 100%);
}

a {
  color: #000;
  outline: none;
  text-decoration: none;
  /* width: 10rem; */
  text-align: center;
}

a:hover {
  text-decoration: underline dotted;
}

a:link {
  -webkit-app-region: no-drag;
}

.search {
  display: block;
  font-size: 1.4rem;
  border: solid 2px hsla(275, 41%, 60%, 0.4);
  border-radius: 0.5rem;
  color: #aaa;
  background-color: #eee;
  outline: none;
  text-align: center;
  width: 65%;
  margin: 0.25rem;
  padding: 0.25rem;
  -webkit-app-region: no-drag;
}

.search:focus {
  border: solid 2px hsla(275, 41%, 60%, 0.6);
  color: #666;
}

::placeholder {
  color: #aaa;
}

.search:focus::placeholder {
  color: #eee;
}

::-webkit-search-cancel-button {
  display: none;
}

.tagNum {
  /* width: 10rem; */
  text-align: center;
  color: #000;
}

.tags {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  padding-top: 1rem;
  box-shadow: inset 0 0 .5rem 0 #0003;
}

.tag {
  background-color: hsla(0, 0%, 93%, 0.1);
  border: none;
  border-radius: 0.5rem;
  color: #666;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.tag:active {
  background-color: #a47ac3;
  color: #fff;
  opacity: 0.5;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.entag {
  color: #aaa;
}

@media(any-hover:hover) {
  .tag:hover>.entag {
    color: #fff;
  }
}

.tag:active>.entag {
  color: #fff;
}

@media(any-hover:hover) {
  .tag:hover {
    background-color: #a47ac3;
    color: #fff;
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: dark) {

  ::-webkit-scrollbar-track {
    background-color: #222;
  }

  .search {
    border: solid 2px hsla(275, 41%, 60%, 0.25);
    background-color: #222;
    color: #aaa;

  }

  ::placeholder {
    color: #aaa;
  }

  .search:focus {
    border: solid 2px hsla(275, 41%, 60%, 0.5);
    color: #bbb;
  }

  .search:focus::placeholder {
    color: #222;
  }

  .tags {
    background-color: #222;
  }

  .tag {
    background-color: #222;
    color: #aaa;
  }

  .entag {
    color: #777;
  }

  @media(any-hover:hover) {
    .tag:hover {
      color: #fff;
      opacity: 0.75;
    }

    .tag:hover>.entag {
      color: #fff;
      opacity: 0.75;
    }
  }
}

@media screen and (max-width:768px) {
  .header {
    flex-direction: column;
    padding: 0.25rem 0;
  }

  .search {
    width: 90%;
  }

  .tags {
    margin-top: 6rem;
  }
}